@model IEnumerable<JobSearch.Domain.Models.Job>

@{
    ViewData["Title"] = "Publicações de Trabalhos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar Trabalho</a>
</p>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</nav>

<div class="panel-heading">
    <h3 class="panel-title">Registro(s) Carregado(s) = @ViewData["TotalRecords"]</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TecnologyTools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecnologyTools)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
