@model IEnumerable<JobSearch.Domain.Models.Job>

@{
    ViewData["Title"] = "Publicações de Trabalhos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar Trabalho</a>
</p>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SearchJobs">
            <fieldset>
                <legend>Pesquisar</legend>
                <div class="form-group">
                    <label for="word" class="col-lg-3 control-label">Palavra Chave</label>
                    <div class="col-lg-10">
                        <input type="text" name="word" class="form-control" value="@ViewData["word"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cityState" class="col-lg-3 control-label">Cidade/Estado</label>
                    <div class="col-lg-10">
                        <input type="text" name="cityState" class="form-control" value="@ViewData["cityState"]" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="panel-heading">
    <h3 class="panel-title">Registro(s) Carregado(s) = @ViewData["TotalRecords"]</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TecnologyTools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecnologyTools)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
